
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

body {
  font-family: 'EB Garamond', serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;7..72,700&display=swap');

body {
  font-family: 'Literata', serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: 'Crimson Pro', serif;
} */
